@import './_variables';

.addonbox {
    padding: 1rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.no-margin
{
    margin: 0px !important;
}

.no-padding
{
    padding: 0px !important;
}

.verticalspacerbig {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.tagItem {
    padding-right: 1rem;
    margin: 0rem;
}

.centerPosition {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.tagboxpad {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.shorten {
    max-width: 4rem;
}

.tagpad {
    margin-left: 0.5rem;
}

// Empty Space

.quartermargin {
    margin : 0.25rem;
}

.filterbox {
    display: flex;
    flex-wrap: wrap;
}

.tagboxtitle {
    
	/* Use a flexbox layout */
	display: flex;
	
	/* Make a horizontal flexbox (the default) */
	flex-direction: row;
	
	/* The important part: vertically center the items */
	align-items: center;
}

.inputbox input {
    height: 50%;
}

.topbarCompendiumStructure {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.contentpackcontainer {
    justify-content: space-between;
}

.contentpackbasecontainer {    
    align-items: center;
    align-content: center;
    border-radius: 0rem;
    width: 100%;
    position: relative;
    padding: 0.75rem;
}

.smallcontentpackrow {
    width: 100%;
    justify-content: space-between;
}

.contentsubnamecontainer {
    display: flex; /* make element size relative to content */
    align-items: center;
    align-content: center;
    width: fit-content;
}

.floatingButton {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: fit-content;
}

.topbarStructure {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}