@import './_variables';

.addonbox {
    padding: 1rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.no-margin
{
  margin: 0px !important;
}

.no-padding
{
    padding: 0px !important;
}

.verticalspacer {
    
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
}

.verticalspacerbig {
    
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.tagBox {
    display: flex;
    flex-wrap: wrap;
}

.tagItem {
    padding-right: 1rem;
    margin: 0rem;
}

.centerPosition {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.navpad {
    padding-left: 1%;
    padding-right: 1%;
}

.toppad {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.tagboxpad {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.shorten {
    max-width: 4rem;
}

.tagpad {
    margin-left: 0.5rem;
}